/* 
    Page       : all
    Author     : Mu Million
*/

/*********************************************************
                ~General section starts~
**********************************************************/
/* @font-face {font-family: JosefinSans; src:url('../fonts/JosefinSans-Regular.ttf');}
@font-face {font-family: JosefinSans-bold; src:url('../fonts/JosefinSans-Bold.ttf');} */
body {
    /*overflow-x: hidden;*/
    padding: 0;
    margin: 0;
    /* font-family: JosefinSans, sans-serif; */
    font-size: 16px;
}
p {
    font-size: 14px;
    /* font-family: JosefinSans, sans-serif; */
}
a {
    color: #233a8c;
    text-decoration: none;
}
a:hover {
    color: #314bac;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: JosefinSans-bold, sans-serif; */
}
.v-center{
    display: table-cell;      
    vertical-align: middle;
    text-align: center;
}

.vh-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

:focus{
    outline: 0;
}
::-moz-selection {
    background: #1e3799;
    text-shadow: none;
    color: #fff;
}
::selection {
    background: #1e3799;
    text-shadow: none;
    color: #fff;
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    -webkit-tap-highlight-color: #314bac;
}
.section-heading{
    color: #192a76;
}
.no-padding {
  padding: 0;
}
.btn.active.focus, .btn.active:focus, .btn.focus, 
.btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
/*********************************************************
                ~General section ends~
**********************************************************/

.acta-qute{
    text-align: center;
    /*font-family: JosefinSans, sans-serif;*/
    font-style: italic;
    font-size: 16px;
}
.acta-qute b{
   text-decoration: underline;
   color: #192a76;
   font-style: normal;
}

/*********************************************************
                ~Navigation section starts~
**********************************************************/
#navigation .social-icons{
    margin-top: 10px;
    margin-bottom: 20px;
}
/*****  ~navigation social icon starts~  *****/
#navigation nav .circle{
    background-color: transparent;
    border-radius: 25px;
    color: #969595;
    display: inline-block;
    height: 25px;
    line-height: 22px;
    margin: 2px 0px;
    width: 25px;
    font-size: 16px;
    text-align: center;
    border: 2px solid transparent;
}
#navigation nav .circle:hover{
    border: 2px solid #233a8c;
    background-color: #233a8c;
    color: #ffffff;
    transition: all .35s;   
}
/*****  ~navigation social icon ends~  *****/

/*****  ~navigation logo starts~  *****/
#navigation .navbar-brand,
#navigation .navbar-shrink .navbar-brand{
    padding: 4px 4px;
    min-height: 30px;
}
#navigation .navbar-brand img,
#navigation .navbar-brand img.img-logo{
    height: 40px;
    width: auto;
    transition: all .25s ease;
}
@media(min-width:1200px) {
    #navigation .navbar-brand {
        padding: 20px 5px 5px 20px;
        min-height: 60px;
    }
    #navigation .navbar-brand img{
        height: 72px;
        width: auto;
    }
}
/*****  ~navigation logo ends~  *****/

/*****  ~button starts~  *****/
#navigation .navbar-default .navbar-nav > li > a {
    color: #233a8c;
    text-transform: uppercase;
    /* font-family: JosefinSans-bold, sans-serif; */
    font-style: italic;
    font-size: 14px;
    
    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f6f6 0%, #eaeaea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f6f6f6 0%,#eaeaea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f6f6f6 0%,#eaeaea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}
#navigation .navbar-default .navbar-nav > li > a.active{
    background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(224,224,224,0.78) 47%, rgba(234,234,234,0.54) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(224,224,224,0.78) 47%,rgba(234,234,234,0.54) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(224,224,224,0.78) 47%,rgba(234,234,234,0.54) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#8aeaeaea',GradientType=0 ); /* IE6-9 */

    color: #000;
}
#navigation .list-inline > li {
    padding-left: 0px;
    padding-right: 0px;
}
#navigation .navbar-default .navbar-nav > li > a.active:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #233a8c;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}
.navbar-collapse a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #233a8c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}
.navbar-collapse a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/*****  ~button ends~  *****/


/***** ~fixed-sliding~ *****/
@media (min-width: 992px) {
    #mainNav {
        padding-top: 5px;
        padding-bottom: 0px;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        background-color: rgba(255 ,255, 255, 1);
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: rgba(255 ,255, 255, .8);
    }
}
/*****  ~fixed-sliding~  ******/

/*********************************************************
                ~Navigation section ends~
**********************************************************/


/*********************************************************
                ~footer starts~
**********************************************************/
#bottom-contact-link{
    background-color: #233a8c;
    color: #fff;
    padding: 20px 0;
    margin: 10px auto 0 auto;
}
#bottom-contact-link h2,
#bottom-contact-link h3{
    text-align: center;
}
#bottom-contact-link ul.social-buttons {
    margin-bottom: 0;
}
#bottom-contact-link ul.social-buttons li a {
    font-size: 20px;
    line-height: 45px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #405fd0;
    border-radius: 100%;
    outline: none;
    background-color: #233a8c;
    text-align: center;
}
#bottom-contact-link ul.social-buttons li a:active,
#bottom-contact-link ul.social-buttons li a:focus,
#bottom-contact-link ul.social-buttons li a:hover {
    background-color: #314bac;
    color: #fff;
}
#bottom-contact-link address, 
#bottom-contact-link .ph-nos{
    font-size: 16px;
    padding: 5px 0px 5px 25px;
}
#bottom-contact-link .ph-nos li a,
#bottom-contact-link .ph-nos li a:hover,
#bottom-contact-link .ph-nos li a:active,
#bottom-contact-link .ph-nos li a:visited {
    color: #fff;
}
footer {
    background-color: #314bac;
    color: #fff;
    padding: 10px 0;
}
footer .copyright {
    font-size: 12px;
    text-transform: none;
    text-align: center;
}
footer .quicklinks {
    font-size: 12px;
    text-transform: none;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}
footer .quicklinks a{
    color: #fff;
}
footer .quicklinks a:hover{
    color: #ececec;
}
@media (min-width: 768px) {
    #bottom-contact-link h2,
    #bottom-contact-link h3{
        margin-bottom: 15px;
    }
    #bottom-contact-link address, #bottom-contact-link .ph-nos{
        font-size: 18px;
    }
    footer {
        padding: 20px 0;
    }
    footer .copyright {
        text-align: left;
    }
    footer .quicklinks {
        margin-top: 0px;
        text-align: right;
    }
}
/*********************************************************
                ~footer ends~
**********************************************************/